
.footer {
    height: 10%;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #37442A;
}

.box {
    max-width: 1024px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 48px;
    padding-right: 24px;
    background-color: #FFFFFF;
    display: flex;
    position: relative;
    min-height: 100%;
    border-left: 450px solid #f3e4ef;
    border-right: 450px solid #f3e4ef;
}

.button {
    display: flex;
    justify-content: right;
 }

.box-2 {
    width: 205px;
    height: 67px;
    border: 1px solid #090b07;
    background-color: rgb(3, 5, 5);
    position: relative;
    text-align: center;
    margin-right: 50px;
    display: inline-block;
}

